.App{
  min-height: 100vh;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

  
.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recipeItem{
  border: 1px solid black;
  margin: 5px;
  padding: 5px 25px;
}
img{
  display: flex;
  /* justify-content: center; */
  margin-left: 25px;
}